{% capture footer_contents %}
  &copy; {{ site.time | date: '%Y' }}
  {{ site.group_name[site.active_lang] }}. {{ site.footer_text[site.active_lang] }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    {% if site.active_lang == 'fr' %}
      Dernière mise à jour : {{ 'now' | date: '%d-%m-%Y' }}.
    {% else %}
      Last updated: {{ 'now' | date: '%B %d, %Y' }}.
    {% endif %}
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
